[submodule "RDOQ"]
	path = RDOQ
	url = https://github.com/microSharjeel/RDOQ.git
[submodule "Intra_prediction"]
	path = Intra_prediction
	url = https://github.com/microSharjeel/Intra_prediction.git
[submodule "CABAC"]
	path = CABAC
	url = https://github.com/microSharjeel/CABAC.git
[submodule "RD_Cost"]
	path = RD_Cost
	url = https://github.com/microSharjeel/RD_Cost.git
[submodule "Transforms"]
	path = Transforms
	url = https://github.com/microSharjeel/Transforms.git
